body{
    margin: 0px;
    padding: 0px;
}
/* login */
.logo{
    width: 35%;
}
.login-form-1{
    padding: 9%;
}
.lab{
    font-weight: 600;
    width: 100%;
    color: white;
}
.form-control{
    padding: 25px 20px;
    border-radius: 30px;
}
.btnSubmit{
    font-weight: 600;
    width: 100%;
    color: white;
    background-color: #22c574;
    border: none;
    margin-top: 31px;
    border-radius: 30px;
    padding: 14px;
    cursor: pointer;
}
.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
    text-decoration: underline;
    float: right;
}
.btnForgetPwd:hover{
    color:#22c574;
}
/* end login */
/* home and assignment */
.content{
    background-color:white;
}
.content p{
    padding: 15px 12px;
    font-size: 20px;
    color: black;
    font-family: sans-serif;
}
.subject{
    background-color: #4879B0;
    border-radius: 5px;
    margin: 3px 29px;
}
.subject a p{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: white;
    font-family: sans-serif;
    padding: 0px 5px;
    margin-top: 15px;
}
.subject a:hover{
    text-decoration: none;
}
.homework_title, .assignment_title, .attendance_title, .score_title{
    margin-left: 29px;
    margin-top: 50px;
    border-bottom: 2px solid black;
}
.homework_title p, .assignment_title p, .attendance_title p, .score_title p{
    font-size: 20px;
    color: black;
    font-family: sans-serif; 
    padding: 0px;
    margin-left: -16px;
    margin-bottom: 8px;
}
.homework_par{
    margin-bottom: -10px;
}
.assignment_par{
    margin-bottom: 70px;
}
/*  end home and assignment */
.date_line_hw, .topic_hw, .date_line_hw1, .topic_hw1{
    margin-bottom: -20px;
}
.attendance_par{
    margin-bottom: -10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 29px;
    margin-left: 29px;
}
.score_par{
    margin-bottom: 50px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 29px;
    margin-left: 29px;
}
/* schedule */
.schedule_par{
    margin-bottom: 50px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 29px;
    margin-left: 29px;
}


