@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
    background-color: #fff;
}
h1, h2,h3,h4,h5,h6{
    font-family: 'Staatliches', cursive;
    color: #07268e;
}
p, span,label{
    font-family: 'Quicksand', sans-serif;
}
.navbar{
    padding: 10px 40px !important;
    background-color: #4879B0 !important;
}
.backSection1{
    margin: 40px 0px;
}
.backSection1{
    position: relative;
    background-color: #f5f5f5;
    padding: 20px 40px;
    /* box-shadow: 0 0 30px rgba(16,14,23,.25); */
}
.aboutBack{
    position: relative;
    z-index: 1;
}
.backImage{
    position: absolute;
    height: 256px;
    top: -41px;
    right: -75px;
    z-index: 0;
}
.section2{
    clear: both;
}
/* .readMore{
    text-align: right;
} */
.section2BackLeft{
    position: relative;
    background-color: #f5f5f5;
    padding: 20px 40px;
    /* box-shadow: 0 0 30px rgba(16,14,23,.25); */
}
.section2BackLeft .fab{
    font-size: 60px;
    padding-right: 20px;
    text-align: center;
    margin-top: 10px;
}
.fa-facebook:hover{
   color: #28589c;
}
.fa-twitter-square:hover{
    color:  #007ec4 ;
}
.fa-youtube-square:hover{
    color: red;
}
.sectionContact{
    background-color: #f5f5f5;
    padding: 20px 30px;
}
.btnContact{
    padding: 10px 80px;
    border-radius: 50px;
}
.special-color-dark {
    background-color: #263238!important;
}
footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
    color: rgba(255,255,255,.6);
    
}
.white-text{
    color: #fff;
}
.pageLogin h4{
    font-size: 40px;
}
.pageLogin {
    margin: 0px 0px;
    padding: 20px;
}
.detailPage{
    margin-top: 30px;
}
.detailMargin{
    margin-top: 10px;
    background-color: #f5f5f5 !important;
}
.titleDetail{
    padding-top: 20px;
    padding-left: 30px;
}
.backgroundContact{
    background-color: #4879B0;
    padding: 20px 0px;
}
.containerContact{
    width: 40%;
    margin: 0px auto;
    padding: 5% 0px;
}
.SubjectBackground{
    background-color: #4879B0;
    padding: 10px;
    border-radius: 5px;

}
@media only screen and (max-width: 600px) {
  .SubjectBackground {
    background-color: #4879B0;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
  }
}
.containerMargin{
    margin: 10px 0px;
}
.box{
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    background-color: blue;
    border-radius: 4px;
    display: flex;
    max-width: 21rem;
    max-height: 8rem;

}
.menu{
    text-decoration-line: underline;
}
.logout
{
    background-color: #00FF00;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
.img-border-radius{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.subDetailContent{
    margin: 35px 0px;
}
.iframeResponsive{
    width:  100% !important;
    height: 250px;
}
.descDetail{
    padding: 0px 30px;
}