body{
    background-color: #f5f5f5;
}
.navbar{
    padding: 20px 40px !important;
    background-image: linear-gradient(to right,#052188,#1142af);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.backSection1{
    background-color: aquamarine;
    margin: 40px 0px;
}
.backSection1{
    position: relative;
    background-color: #fff;
    padding: 20px 40px;
    box-shadow: 0 0 30px rgba(16,14,23,.25);
}
.section2{
    clear: both;
}
.readMore{
    text-align: right;
}
.section2BackLeft{
    position: relative;
    background-color: #fff;
    padding: 20px 40px;
    box-shadow: 0 0 30px rgba(16,14,23,.25);
}
.section2BackLeft .fab{
    font-size: 60px;
    padding-right: 20px;
    text-align: center;
    margin-top: 10px;
}
.fa-facebook:hover{
   color: #28589c;
}
.fa-twitter-square:hover{
    color:  #007ec4 ;
}
.fa-youtube-square:hover{
    color: red;
}