.logo{
    padding: 50px;
    background-color: #22c574;
}
.login-form-1{
    padding: 9%;
    background:#4879b0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.form-control{
    padding: 25px 20px;
    border-radius: 7px;
}
.btnSubmit{
    font-weight: 600;
    width: auto;
    color: #282726;
    background-color: #22c574;
    border: none;
    text-align: center;
    border-radius: 7px;
    padding: 10px 40px;
}
.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
    text-decoration: underline;
    margin-right: 15px;
    float: right;
}
.btnForgetPwd:hover{
    color:#22c574;
}
/* .btnback img{
    width: 25px;
    height: 25px;
    margin-top: -7px;
}
.back{
    font-size: 20px;
    margin-left: 5px;
    color: white;
    text-decoration: none;
}
.btnback:hover{
    text-decoration: none;
    color: black;
} */